**/Makefile
**/Makefile.in
**/Makefile.linux
**/obj
*.core
*.o
*~
.ccls-cache/
.deps/
Makefile.common
aclocal.m4
autom4te.cache/
compat/.dirstamp
compat/libopenbsd-compat.a
config.log
config.status
configure
core
etc/
got/got
gotadmin/gotadmin
lib/.dirstamp
libexec/got-fetch-pack/got-fetch-pack
libexec/got-index-pack/got-index-pack
libexec/got-read-blob/got-read-blob
libexec/got-read-commit/got-read-commit
libexec/got-read-gitconfig/got-read-gitconfig
libexec/got-read-gotconfig/got-read-gotconfig
libexec/got-read-gotconfig/parse.c
libexec/got-read-object/got-read-object
libexec/got-read-pack/got-read-pack
libexec/got-read-tag/got-read-tag
libexec/got-read-tree/got-read-tree
libexec/got-send-pack/got-send-pack
tags
tog/tog
