**/*.Po
**/*.a
**/*.core
**/*.o
**/*.orig
**/*~
**/.deps/*
**/.dirstamp
**/Makefile
**/Makefile.in
**/Makefile.linux
**/autom4te.cache/*
**/compile
**/core
**/depcomp
**/install-sh
**/missing
**/obj
**/tags
**/ylwrap
.ccls-cache/*
.deps/*
Makefile.common
aclocal.m4
config.log
config.status
configure
etc/*
got/got
gotadmin/gotadmin
gotwebd/gotwebd
gotwebd/pages.c
gotwebd/parse.c
libexec/got-fetch-pack/got-fetch-pack
libexec/got-index-pack/got-index-pack
libexec/got-read-blob/got-read-blob
libexec/got-read-commit/got-read-commit
libexec/got-read-gitconfig/got-read-gitconfig
libexec/got-read-gotconfig/got-read-gotconfig
libexec/got-read-gotconfig/parse.c
libexec/got-read-object/got-read-object
libexec/got-read-pack/got-read-pack
libexec/got-read-patch/got-read-patch
libexec/got-read-tag/got-read-tag
libexec/got-read-tree/got-read-tree
libexec/got-send-pack/got-send-pack
regress/delta/delta_test
regress/deltify/deltify_test
regress/fetch/fetch_test
regress/idset/idset_test
regress/path/path_test
template/parse.c
template/template
tog/tog
