<!DOCTYPE html>
<html>
	<head>
		<title>@@title@@</title>
		@@head@@
	</head>
	<body>
	<div id="gw_body">
		<div id="header">
			@@header@@
		</div>
		<div id="site_path">
			@@sitepath@@
			@@search@@
		</div>
		<div id="content">
			<div id='diff_title_wrapper'>
				<div id='diff_title'>Commit Diff</div>
			</div>
			<div id='diff_content'>
				@@content@@
			</div>
		</div>
		@@siteowner@@
	</div>
	</body>
</html>
