{!
/*
 * Copyright (c) 2022 Omar Polo <op@openbsd.org>
 * Copyright (c) 2016, 2019, 2020-2022 Tracey Emery <tracey@traceyemery.net>
 *
 * Permission to use, copy, modify, and distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 */

#include <sys/types.h>
#include <sys/queue.h>
#include <sys/stat.h>

#include <ctype.h>
#include <event.h>
#include <stdint.h>
#include <stdio.h>
#include <stdlib.h>
#include <string.h>
#include <sha1.h>
#include <sha2.h>
#include <imsg.h>

#include "got_error.h"
#include "got_object.h"
#include "got_reference.h"

#include "proc.h"

#include "gotwebd.h"
#include "tmpl.h"

static int gotweb_render_blob_line(struct template *, const char *, size_t);
static int gotweb_render_tree_item(struct template *, struct got_tree_entry *);
static int blame_line(struct template *, const char *, struct blame_line *,
    int, int);

static inline int gotweb_render_more(struct template *, int);

static inline int diff_line(struct template *, char *);
static inline int tag_item(struct template *, struct repo_tag *);
static inline int branch(struct template *, struct got_reflist_entry *);
static inline int rss_tag_item(struct template *, struct repo_tag *);
static inline int rss_author(struct template *, char *);

!}

{{ define gotweb_render_page(struct template *tp,
    int (*body)(struct template *)) }}
{!
	struct request		*c = tp->tp_arg;
	struct server		*srv = c->srv;
	struct querystring	*qs = c->t->qs;
	struct gotweb_url	 u_path;
	const char		*prfx = c->document_uri;
	const char		*css = srv->custom_css;

	memset(&u_path, 0, sizeof(u_path));
	u_path.index_page = -1;
	u_path.page = -1;
	u_path.action = SUMMARY;
!}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ srv->site_name }}</title>
    <meta name="viewport" content="initial-scale=.75" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ prfx }}apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ prfx }}favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ prfx }}favicon-16x16.png" />
    <link rel="manifest" href="{{ prfx }}site.webmanifest"/>
    <link rel="mask-icon" href="{{ prfx }}safari-pinned-tab.svg" />
    <link rel="stylesheet" type="text/css" href="{{ prfx }}{{ css }}" />
  </head>
  <body>
    <div id="gw_body">
      <div id="header">
        <div id="got_link">
          <a href="{{ srv->logo_url }}" target="_blank">
            <img src="{{ prfx }}{{ srv->logo }}" />
          </a>
        </div>
      </div>
      <div id="site_path">
        <div id="site_link">
          <a href="?index_page={{ printf "%d", qs->index_page }}">
            {{ srv->site_link }}
          </a>
          {{ if qs->path }}
            {! u_path.path = qs->path; !}
            {{ " / " }}
            <a href="{{ render gotweb_render_url(tp->tp_arg, &u_path)}}">
              {{ qs->path }}
            </a>
          {{ end }}
          {{ if qs->action != INDEX }}
            {{ " / " }}{{ gotweb_action_name(qs->action) }}
          {{ end }}
        </div>
      </div>
      <div id="content">
        {{ render body(tp) }}
        <div id="site_owner_wrapper">
          <div id="site_owner">
            {{ if srv->show_site_owner }}
              {{ srv->site_owner }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{{ end }}

{{ define gotweb_render_error(struct template *tp) }}
{!
	struct request		*c = tp->tp_arg;
	struct transport	*t = c->t;
!}
<div id="err_content">
  {{ if t->error }}
    {{ t->error->msg }}
  {{ else }}
    See daemon logs for details
  {{ end }}
</div>
{{ end }}

{{ define gotweb_render_repo_table_hdr(struct template *tp) }}
{!
	struct request *c = tp->tp_arg;
	struct server *srv = c->srv;
!}
<div id="index_header">
  <div id="index_header_project">
    Project
  </div>
  {{ if srv->show_repo_description }}
    <div id="index_header_description">
      Description
    </div>
  {{ end }}
  {{ if srv->show_repo_owner }}
    <div id="index_header_owner">
      Owner
    </div>
  {{ end }}
  {{ if srv->show_repo_age }}
    <div id="index_header_age">
      Last Change
    </div>
  {{ end }}
</div>
{{ end }}

{{ define gotweb_render_repo_fragment(struct template *tp, struct repo_dir *repo_dir) }}
{!
	struct request *c = tp->tp_arg;
	struct server *srv = c->srv;
	struct gotweb_url summary = {
		.action = SUMMARY,
		.index_page = -1,
		.page = -1,
		.path = repo_dir->name,
	}, briefs = {
		.action = BRIEFS,
		.index_page = -1,
		.page = -1,
		.path = repo_dir->name,
	}, commits = {
		.action = COMMITS,
		.index_page = -1,
		.page = -1,
		.path = repo_dir->name,
	}, tags = {
		.action = TAGS,
		.index_page = -1,
		.page = -1,
		.path = repo_dir->name,
	}, tree = {
		.action = TREE,
		.index_page = -1,
		.page = -1,
		.path = repo_dir->name,
	}, rss = {
		.action = RSS,
		.index_page = -1,
		.page = -1,
		.path = repo_dir->name,
	};
!}
<div class="index_wrapper">
  <div class="index_project">
    <a href="{{ render gotweb_render_url(tp->tp_arg, &summary) }}">{{ repo_dir->name }}</a>
  </div>
  {{ if srv->show_repo_description }}
    <div class="index_project_description">
      {{ repo_dir->description }}
    </div>
  {{ end }}
  {{ if srv->show_repo_owner }}
    <div class="index_project_owner">
      {{ repo_dir->owner }}
    </div>
  {{ end }}
  {{ if srv->show_repo_age }}
    <div class="index_project_age">
      {{ render gotweb_render_age(tp, repo_dir->age, TM_DIFF) }}
    </div>
  {{ end }}
  <div class="navs_wrapper">
    <div class="navs">
      <a href="{{ render gotweb_render_url(tp->tp_arg, &summary) }}">summary</a>
      {{ " | " }}
      <a href="{{ render gotweb_render_url(tp->tp_arg, &briefs) }}">briefs</a>
      {{ " | " }}
      <a href="{{ render gotweb_render_url(tp->tp_arg, &commits) }}">commits</a>
      {{ " | " }}
      <a href="{{ render gotweb_render_url(tp->tp_arg, &tags) }}">tags</a>
      {{ " | " }}
      <a href="{{ render gotweb_render_url(tp->tp_arg, &tree) }}">tree</a>
      {{ " | " }}
      <a href="{{ render gotweb_render_url(tp->tp_arg, &rss) }}">rss</a>
    </div>
    <div class="dotted_line"></div>
  </div>
</div>
{{ end }}

{{ define gotweb_render_briefs(struct template *tp) }}
{!
	const struct got_error	*error;
	struct request		*c = tp->tp_arg;
	struct server		*srv = c->srv;
	struct transport	*t = c->t;
	struct querystring	*qs = c->t->qs;
	struct repo_commit	*rc;
	struct repo_dir		*repo_dir = t->repo_dir;
	struct gotweb_url	 diff_url, tree_url;
	char			*tmp;

	diff_url = (struct gotweb_url){
		.action = DIFF,
		.index_page = -1,
		.page = -1,
		.path = repo_dir->name,
		.headref = qs->headref,
	};
	tree_url = (struct gotweb_url){
		.action = TREE,
		.index_page = -1,
		.page = -1,
		.path = repo_dir->name,
		.headref = qs->headref,
	};

	if (qs->action == SUMMARY) {
		error = got_get_repo_commits(c, D_MAXSLCOMMDISP);
	} else
		error = got_get_repo_commits(c, srv->max_commits_display);
	if (error)
		return -1;
!}
<div id="briefs_title_wrapper">
  <div id="briefs_title">Commit Briefs</div>
</div>
<div id="briefs_content">
  {{ tailq-foreach rc &t->repo_commits entry }}
    {!
	diff_url.commit = rc->commit_id;
	tree_url.commit = rc->commit_id;

	tmp = strchr(rc->committer, '<');
	if (tmp)
		*tmp = '\0';

	tmp = strchr(rc->commit_msg, '\n');
	if (tmp)
		*tmp = '\0';
    !}
    <div class="briefs_age">
      {{ render gotweb_render_age(tp, rc->committer_time, TM_DIFF) }}
    </div>
    <div class="briefs_author">
      {{ rc->committer }}
    </div>
    <div class="briefs_log">
      <a href="{{ render gotweb_render_url(tp->tp_arg, &diff_url) }}">
        {{ rc->commit_msg }}
      </a>
      {{ if rc->refs_str }}
        {{ " " }} <span class="refs_str">({{ rc->refs_str }})</span>
      {{ end }}
      </a>
    </div>
    <div class="navs_wrapper">
      <div class="navs">
        <a href="{{ render gotweb_render_url(tp->tp_arg, &diff_url) }}">diff</a>
	{{ " | " }}
	<a href="{{ render gotweb_render_url(tp->tp_arg, &tree_url) }}">tree</a>
      </div>
    </div>
    <div class="dotted_line"></div>
  {{ end }}
  {{ render gotweb_render_more(tp, BRIEFS) }}
</div>
{{ end }}

{{ define gotweb_render_more(struct template *tp, int action) }}
{!
	struct request		*c = tp->tp_arg;
	struct transport	*t = c->t;
	struct querystring	*qs = t->qs;
	struct gotweb_url	 more = {
		.action = action,
		.index_page = -1,
		.path = qs->path,
		.commit = t->more_id,
		.headref = qs->headref,
	};
!}
  {{ if t->more_id }}
    <div id="np_wrapper">
      <div id="nav_more">
        <a href="{{ render gotweb_render_url(c, &more) }}">
          More&nbsp;&darr;
        </a>
      </div>
    </div>
  {{ end }}
{{ end }}

{{ define gotweb_render_navs(struct template *tp) }}
{!
	struct request		*c = tp->tp_arg;
	struct transport	*t = c->t;
	struct gotweb_url	 prev, next;
	int			 have_prev, have_next;

	gotweb_get_navs(c, &prev, &have_prev, &next, &have_next);
!}
<div id="np_wrapper">
  <div id="nav_prev">
    {{ if have_prev }}
      <a href="{{ render gotweb_render_url(c, &prev) }}">
        Previous
      </a>
    {{ end }}
  </div>
  <div id="nav_next">
    {{ if have_next }}
      <a href="{{ render gotweb_render_url(c, &next) }}">
        Next
      </a>
    {{ end }}
  </div>
</div>
{{ finally }}
{!
	free(t->next_id);
	t->next_id = NULL;
	free(t->prev_id);
	t->prev_id = NULL;
!}
{{ end }}

{{ define gotweb_render_commits(struct template *tp) }}
{!
	struct request		*c = tp->tp_arg;
	struct transport	*t = c->t;
	struct repo_dir		*repo_dir = t->repo_dir;
	struct repo_commit	*rc;
	struct gotweb_url	 diff, tree;

	diff = (struct gotweb_url){
		.action = DIFF,
		.index_page = -1,
		.page = -1,
		.path = repo_dir->name,
	};
	tree = (struct gotweb_url){
		.action = TREE,
		.index_page = -1,
		.page = -1,
		.path = repo_dir->name,
	};
!}
<div class="commits_title_wrapper">
  <div class="commits_title">Commits</div>
</div>
<div class="commits_content">
  {{ tailq-foreach rc &t->repo_commits entry }}
    {!
	diff.commit = rc->commit_id;
	tree.commit = rc->commit_id;
    !}
    <div class="commits_header_wrapper">
      <div class="commits_header">
        <div class="header_commit_title">Commit:</div>
        <div class="header_commit">{{ rc->commit_id }}</div>
        <div class="header_author_title">From:</div>
        <div class="header_author">{{ rc->author }}</div>
	{{ if strcmp(rc->committer, rc->author) != 0 }}
          <div class="header_author_title">Via:</div>
          <div class="header_author">{{ rc->committer }}</div>
	{{ end }}
        <div class="header_age_title">Date:</div>
        <div class="header_age">
          {{ render gotweb_render_age(tp, rc->committer_time, TM_LONG) }}
        </div>
      </div>
    </div>
    <div class="dotted_line"></div>
    <div class="commit">
      {{ "\n" }}
      {{ rc->commit_msg }}
    </div>
    <div class="navs_wrapper">
      <div class="navs">
        <a href="{{ render gotweb_render_url(c, &diff) }}">diff</a>
	{{ " | " }}
        <a href="{{ render gotweb_render_url(c, &tree) }}">tree</a>
      </div>
    </div>
    <div class="dotted_line"></div>
  {{ end }}
  {{ render gotweb_render_more(tp, COMMITS) }}
</div>
{{ end }}

{{ define gotweb_render_blob(struct template *tp) }}
{!
	struct request		*c = tp->tp_arg;
	struct transport	*t = c->t;
	struct got_blob_object	*blob = t->blob;
	struct repo_commit	*rc = TAILQ_FIRST(&t->repo_commits);
!}
<div id="blob_title_wrapper">
  <div id="blob_title">Blob</div>
</div>
<div id="blob_content">
  <div id="blob_header_wrapper">
    <div id="blob_header">
      <div class="header_age_title">Date:</div>
      <div class="header_age">
        {{ render gotweb_render_age(tp, rc->committer_time, TM_LONG) }}
      </div>
      <div id="header_commit_msg_title">Message:</div>
      <div id="header_commit_msg">{{ rc->commit_msg }}</div>
    </div>
  </div>
  <div class="dotted_line"></div>
  <div id="blob">
    <pre>
      {{ render got_output_blob_by_lines(tp, blob, gotweb_render_blob_line) }}
    </pre>
  </div>
</div>
{{ end }}

{{ define gotweb_render_blob_line(struct template *tp, const char *line,
    size_t no) }}
{!
	char		 lineno[16];
	int		 r;

	r = snprintf(lineno, sizeof(lineno), "%zu", no);
	if (r < 0 || (size_t)r >= sizeof(lineno))
		return -1;
!}
<div class="blob_line" id="line{{ lineno }}">
  <div class="blob_number">
    <a href="#line{{ lineno }}">{{ lineno }}</a>
  </div>
  <div class="blob_code">{{ line }}</div>
</div>
{{ end }}

{{ define gotweb_render_tree(struct template *tp) }}
{!
	struct request		*c = tp->tp_arg;
	struct transport	*t = c->t;
	struct repo_commit	*rc = TAILQ_FIRST(&t->repo_commits);
!}
<div id="tree_title_wrapper">
  <div id="tree_title">Tree</div>
</div>
<div id="tree_content">
  <div id="tree_header_wrapper">
    <div id="tree_header">
      <div id="header_tree_title">Tree:</div>
      <div id="header_tree">{{ rc->tree_id }}</div>
      <div class="header_age_title">Date:</div>
      <div class="header_age">
        {{ render gotweb_render_age(tp, rc->committer_time, TM_LONG) }}
      </div>
      <div id="header_commit_msg_title">Message:</div>
      <div id="header_commit_msg">{{ rc->commit_msg }}</div>
    </div>
  </div>
  <div class="dotted_line"></div>
  <div id="tree">
    {{ render got_output_repo_tree(c, gotweb_render_tree_item) }}
  </div>
</div>
{{ end }}

{{ define gotweb_render_tree_item(struct template *tp,
    struct got_tree_entry *te) }}
{!
	struct request		*c = tp->tp_arg;
	struct transport	*t = c->t;
	struct querystring	*qs = t->qs;
	struct repo_commit	*rc = TAILQ_FIRST(&t->repo_commits);
	const char		*modestr = "";
	const char		*name;
	const char		*folder;
	char			*dir = NULL;
	mode_t			 mode;
	struct gotweb_url	 url = {
	       .index_page = -1,
	       .page = -1,
	       .commit = rc->commit_id,
	       .path = qs->path,
	};

	name = got_tree_entry_get_name(te);
	mode = got_tree_entry_get_mode(te);

	folder = qs->folder ? qs->folder : "";
	if (S_ISDIR(mode)) {
		if (asprintf(&dir, "%s/%s", folder, name) == -1)
			return (-1);

		url.action = TREE;
		url.folder = dir;
	} else {
		url.action = BLOB;
		url.folder = folder;
		url.file = name;
	}

	if (got_object_tree_entry_is_submodule(te))
		modestr = "$";
	else if (S_ISLNK(mode))
		modestr = "@";
	else if (S_ISDIR(mode))
		modestr = "/";
	else if (mode & S_IXUSR)
		modestr = "*";
!}
<div class="tree_wrapper">
  {{ if S_ISDIR(mode) }}
    <div class="tree_line">
      <a href="{{ render gotweb_render_url(c, &url) }}">
        {{ name }}{{ modestr }}
      </a>
    </div>
    <div class="tree_line_blank">&nbsp;</div>
  {{ else }}
    <div class="tree_line">
      <a href="{{ render gotweb_render_url(c, &url) }}">
        {{ name }}{{ modestr }}
      </a>
    </div>
    <div class="tree_line_blank">
      {! url.action = COMMITS; !}
      <a href="{{ render gotweb_render_url(c, &url) }}">
        commits
      </a>
      {{ " | " }}
      {! url.action = BLAME; !}
      <a href="{{ render gotweb_render_url(c, &url) }}">
        blame
      </a>
    </div>
  {{ end }}
</div>
{{ finally }}
{!
	free(dir);
!}
{{ end }}

{{ define gotweb_render_tags(struct template *tp) }}
{!
	struct request		*c = tp->tp_arg;
	struct transport	*t = c->t;
	struct querystring	*qs = t->qs;
	struct repo_tag		*rt;
	int			 commit_found;

	commit_found = qs->commit == NULL;
!}
<div id="tags_title_wrapper">
  <div id="tags_title">Tags</div>
</div>
<div id="tags_content">
  {{ if t->tag_count == 0 }}
    <div id="err_content">
      This repository contains no tags
    </div>
  {{ else }}
    {{ tailq-foreach rt &t->repo_tags entry }}
      {{ if commit_found || !strcmp(qs->commit, rt->commit_id) }}
        {! commit_found = 1; !}
        {{ render tag_item(tp, rt) }}
      {{ end }}
    {{ end }}
    {{ if t->next_id || t->prev_id }}
      {! qs->action = TAGS; !}
      {{ render gotweb_render_navs(tp) }}
    {{ end }}
  {{ end }}
</div>
{{ end }}

{{ define tag_item(struct template *tp, struct repo_tag *rt) }}
{!
	struct request		*c = tp->tp_arg;
	struct transport	*t = c->t;
	struct repo_dir		*repo_dir = t->repo_dir;
	char			*tag_name = rt->tag_name;
	char			*msg = rt->tag_commit;
	char			*nl;
	struct gotweb_url	 url = {
		.action = TAG,
		.index_page = -1,
		.page = -1,
		.path = repo_dir->name,
		.commit = rt->commit_id,
	};

	if (strncmp(tag_name, "refs/tags/", 10) == 0)
		tag_name += 10;

	if (msg) {
		nl = strchr(msg, '\n');
		if (nl)
			*nl = '\0';
	}
!}
<div class="tag_age">
  {{ render gotweb_render_age(tp, rt->tagger_time, TM_DIFF) }}
</div>
<div class="tag">{{ tag_name }}</div>
<div class="tag_log">
  <a href="{{ render gotweb_render_url(c, &url) }}">
    {{ msg }}
  </a>
</div>
<div class="navs_wrapper">
  <div class="navs">
    <a href="{{ render gotweb_render_url(c, &url) }}">tag</a>
    {{ " | " }}
    {! url.action = BRIEFS; !}
    <a href="{{ render gotweb_render_url(c, &url) }}">commit briefs</a>
    {{ " | " }}
    {! url.action = COMMITS; !}
    <a href="{{ render gotweb_render_url(c, &url) }}">commits</a>
  </div>
</div>
<div class="dotted_line"></div>
{{ end }}

{{ define gotweb_render_tag(struct template *tp) }}
{!
	struct request		*c = tp->tp_arg;
	struct transport	*t = c->t;
	struct repo_tag		*rt;
	const char		*tag_name;

	rt = TAILQ_LAST(&t->repo_tags, repo_tags_head);
	tag_name = rt->tag_name;

	if (strncmp(tag_name, "refs/", 5) == 0)
		tag_name += 5;
!}
<div id="tags_title_wrapper">
  <div id="tags_title">Tag</div>
</div>
<div id="tags_content">
  <div id="tag_header_wrapper">
    <div id="tag_header">
      <div class="header_commit_title">Commit:</div>
      <div class="header_commit">
        {{ rt->commit_id }}
        {{ " " }}
        <span class="refs_str">({{ tag_name }})</span>
      </div>
      <div class="header_author_title">Tagger:</div>
      <div class="header_author">{{ rt->tagger }}</div>
      <div class="header_age_title">Date:</div>
      <div class="header_age">
        {{ render gotweb_render_age(tp, rt->tagger_time, TM_LONG)}}
      </div>
      <div id="header_commit_msg_title">Message:</div>
      <div id="header_commit_msg">{{ rt->commit_msg }}</div>
    </div>
    <div class="dotted_line"></div>
    <div id="tag_commit">
      {{ "\n" }}
      {{ rt->tag_commit }}
    </div>
  </div>
</div>
{{ end }}

{{ define gotweb_render_diff(struct template *tp) }}
{!
	struct request		*c = tp->tp_arg;
	struct transport	*t = c->t;
	FILE			*fp = t->fp;
	struct repo_commit	*rc = TAILQ_FIRST(&t->repo_commits);
	char			*line = NULL;
	size_t			 linesize = 0;
	ssize_t			 linelen;
!}
<div id="diff_title_wrapper">
  <div id="diff_title">Commit Diff</div>
</div>
<div id="diff_content">
  <div id="diff_header_wrapper">
    <div id="diff_header">
      <div class="header_commit_title">Commit:</div>
      <div class="header_commit">{{ rc->commit_id }}</div>
      <div class="header_author_title">From:</div>
      <div class="header_author">{{ rc->author }}</div>
      {{ if strcmp(rc->committer, rc->author) != 0 }}
        <div class="header_author_title">Via:</div>
        <div class="header_author">{{ rc->committer }}</div>
      {{ end }}
      <div class="header_age_title">Date:</div>
      <div class="header_age">
        {{ render gotweb_render_age(tp, rc->committer_time, TM_LONG) }}
      </div>
      <div id="header_commit_msg_title">Message:</div>
      <div id="header_commit_msg">{{ rc->commit_msg }}</div>
    </div>
  </div>
  <div class="dotted_line"></div>
  <div id="diff">
    {{ "\n" }}
    {{ while (linelen = getline(&line, &linesize, fp)) != -1 }}
      {{ render diff_line(tp, line) }}
    {{ end }}
  </div>
</div>
{{ finally }}
{! free(line); !}
{{ end }}

{{ define diff_line(struct template *tp, char *line )}}
{!
	const char		*color = NULL;
	char			*nl;

	if (!strncmp(line, "-", 1))
		color = "diff_minus";
	else if (!strncmp(line, "+", 1))
		color = "diff_plus";
	else if (!strncmp(line, "@@", 2))
		color = "diff_chunk_header";
	else if (!strncmp(line, "commit +", 8) ||
	    !strncmp(line, "commit -", 8) ||
	    !strncmp(line, "blob +", 6) ||
	    !strncmp(line, "blob -", 6) ||
	    !strncmp(line, "file +", 6) ||
	    !strncmp(line, "file -", 6))
		color = "diff_meta";
	else if (!strncmp(line, "from:", 5) || !strncmp(line, "via:", 4))
		color = "diff_author";
	else if (!strncmp(line, "date:", 5))
		color = "diff_date";

	nl = strchr(line, '\n');
	if (nl)
		*nl = '\0';
!}
<div class="diff_line {{ color }}">{{ line }}</div>
{{ end }}

{{ define gotweb_render_branches(struct template *tp,
    struct got_reflist_head *refs) }}
{!
	struct got_reflist_entry	*re;
!}
<div id="branches_title_wrapper">
  <div id="branches_title">Branches</div>
</div>
<div id="branches_content">
  {{ tailq-foreach re refs entry }}
    {{ if !got_ref_is_symbolic(re->ref) }}
      {{ render branch(tp, re) }}
    {{ end }}
  {{ end }}
</div>
{{ end }}

{{ define branch(struct template *tp, struct got_reflist_entry *re) }}
{!
	const struct got_error	*err;
	struct request		*c = tp->tp_arg;
	struct querystring	*qs = c->t->qs;
	const char		*refname;
	time_t			 age;
	struct gotweb_url	 url = {
		.action = SUMMARY,
		.index_page = -1,
		.page = -1,
		.path = qs->path,
	};

	refname = got_ref_get_name(re->ref);

	err = got_get_repo_age(&age, c, refname);
	if (err) {
		log_warnx("%s: %s", __func__, err->msg);
		return -1;
	}

	if (strncmp(refname, "refs/heads/", 11) == 0)
		refname += 11;

	url.headref = refname;
!}
<div class="branches_wrapper">
  <div class="branches_age">
    {{ render gotweb_render_age(tp, age, TM_DIFF) }}
  </div>
  <div class="branches_space">&nbsp;</div>
  <div class="branch">
    <a href="{{ render gotweb_render_url(c, &url) }}">{{ refname }}</a>
  </div>
  <div class="navs_wrapper">
    <div class="navs">
      <a href="{{ render gotweb_render_url(c, &url) }}">summary</a>
      {{" | "}}
      {! url.action = BRIEFS; !}
      <a href="{{ render gotweb_render_url(c, &url) }}">commit briefs</a>
      {{" | "}}
      {! url.action = COMMITS; !}
      <a href="{{ render gotweb_render_url(c, &url) }}">commits</a>
    </div>
  </div>
  <div class="dotted_line"></div>
</div>
{{ end }}

{{ define gotweb_render_summary(struct template *tp) }}
{!
	struct request		*c = tp->tp_arg;
	struct server		*srv = c->srv;
	struct transport	*t = c->t;
	struct got_reflist_head	*refs = &t->refs;
!}
<div id="summary_wrapper">
  {{ if srv->show_repo_description }}
    <div id="description_title">Description:</div>
    <div id="description">{{ t->repo_dir->description }}</div>
  {{ end }}
  {{ if srv->show_repo_owner }}
    <div id="repo_owner_title">Owner:</div>
    <div id="repo_owner">{{ t->repo_dir->owner }}</div>
  {{ end }}
  {{ if srv->show_repo_age }}
    <div id="last_change_title">Last Change:</div>
    <div id="last_change">
      {{ render gotweb_render_age(tp, t->repo_dir->age, TM_DIFF) }}
    </div>
  {{ end }}
  {{ if srv->show_repo_cloneurl }}
    <div id="cloneurl_title">Clone URL:</div>
    <div id="cloneurl">{{ t->repo_dir->url }}</div>
  {{ end }}
</div>
{{ render gotweb_render_briefs(tp) }}
{{ render gotweb_render_tags(tp) }}
{{ render gotweb_render_branches(tp, refs) }}
{{ end }}

{{ define gotweb_render_blame(struct template *tp) }}
{!
	const struct got_error	*err;
	struct request		*c = tp->tp_arg;
	struct transport	*t = c->t;
	struct repo_commit	*rc = TAILQ_FIRST(&t->repo_commits);
!}
<div id="blame_title_wrapper">
  <div id="blame_title">Blame</div>
</div>
<div id="blame_content">
  <div id="blame_header_wrapper">
    <div id="blame_header">
      <div class="header_age_title">Date:</div>
      <div class="header_age">
        {{ render gotweb_render_age(tp, rc->committer_time, TM_LONG) }}
      </div>
      <div id="header_commit_msg_title">Message:</div>
      <div id="header_commit_msg">{{ rc->commit_msg }}</div>
    </div>
  </div>
  <div class="dotted_line"></div>
  <div id="blame">
    {{ "\n" }}
    {!
	err = got_output_file_blame(c, &blame_line);
	if (err && err->code != GOT_ERR_CANCELLED)
		log_warnx("%s: got_output_file_blame: %s", __func__,
		    err->msg);
	if (err)
		return (-1);
    !}
  </div>
</div>
{{ end }}

{{ define blame_line(struct template *tp, const char *line,
    struct blame_line *bline, int lprec, int lcur) }}
{!
	struct request		*c = tp->tp_arg;
	struct transport	*t = c->t;
	struct repo_dir		*repo_dir = t->repo_dir;
	char			*committer, *s;
	struct gotweb_url	 url = {
		.action = DIFF,
		.index_page = -1,
		.page = -1,
		.path = repo_dir->name,
		.commit = bline->id_str,
	};

	s = strchr(bline->committer, '<');
	committer = s ? s + 1 : bline->committer;

	s = strchr(committer, '@');
	if (s)
		*s = '\0';
!}
<div class="blame_wrapper">
  <div class="blame_number">{{ printf "%.*d", lprec, lcur }}</div>
  <div class="blame_hash">
    <a href="{{ render gotweb_render_url(c, &url) }}">
      {{ printf "%.8s", bline->id_str }}
    </a>
  </div>
  <div class="blame_date">{{ bline->datebuf }}</div>
  <div class="blame_author">{{ printf "%.9s", committer }}</div>
  <div class="blame_code">{{ line }}</div>
</div>
{{ end }}

{{ define gotweb_render_rss(struct template *tp) }}
{!
	struct request		*c = tp->tp_arg;
	struct server		*srv = c->srv;
	struct transport	*t = c->t;
	struct repo_dir		*repo_dir = t->repo_dir;
	struct repo_tag		*rt;
	struct gotweb_url	 summary = {
		.action = SUMMARY,
		.index_page = -1,
		.page = -1,
		.path = repo_dir->name,
	};
!}
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>Tags of {{ repo_dir->name }}</title>
    <link>
      <![CDATA[
        {{ render gotweb_render_absolute_url(c, &summary) }}
      ]]>
    </link>
    {{ if srv->show_repo_description }}
      <description>{{ repo_dir->description }}</description>
    {{ end }}
    {{ tailq-foreach rt &t->repo_tags entry }}
      {{ render rss_tag_item(tp, rt) }}
    {{ end }}
  </channel>
</rss>
{{ end }}

{{ define rss_tag_item(struct template *tp, struct repo_tag *rt) }}
{!
	struct request		*c = tp->tp_arg;
	struct transport	*t = c->t;
	struct repo_dir		*repo_dir = t->repo_dir;
	char			*tag_name = rt->tag_name;
	struct gotweb_url	 tag = {
		.action = TAG,
		.index_page = -1,
		.page = -1,
		.path = repo_dir->name,
		.commit = rt->commit_id,
	};

	if (strncmp(tag_name, "refs/tags/", 10) == 0)
		tag_name += 10;
!}
<item>
  <title>{{ repo_dir->name }} {{" "}} {{ tag_name }}</title>
  <link>
    <![CDATA[
      {{ render gotweb_render_absolute_url(c, &tag) }}
    ]]>
  </link>
  <description>
    <![CDATA[<pre>{{ rt->tag_commit }}</pre>]]>
  </description>
  {{ render rss_author(tp, rt->tagger) }}
  <guid isPermaLink="false">{{ rt->commit_id }}</guid>
  <pubDate>
    {{ render gotweb_render_age(tp, rt->tagger_time, TM_RFC822) }}
  </pubDate>
</item>
{{ end }}

{{ define rss_author(struct template *tp, char *author) }}
{!
	char	*t, *mail;

	/* what to do if the author name contains a paren? */
	if (strchr(author, '(') != NULL || strchr(author, ')') != NULL)
		return 0;

	t = strchr(author, '<');
	if (t == NULL)
		return 0;
	*t = '\0';
	mail = t+1;

	while (isspace((unsigned char)*--t))
		*t = '\0';

	t = strchr(mail, '>');
	if (t == NULL)
		return 0;
	*t = '\0';
!}
<author>
  {{ mail }} {{" "}} ({{ author }})
</author>
{{ end }}
